@charset "CP850";
/* Compass é foda */
/* Overrides das tosqueiras do Bootstrap */
/* line 7, ../sass/zeus.scss */
input {
  width: auto;
}

/* Campos */
/* line 14, ../sass/zeus.scss */
.form-inline input {
  border: none;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
/* line 22, ../sass/zeus.scss */
.form-inline input:focus {
  box-shadow: none;
}
/* line 27, ../sass/zeus.scss */
.form-inline input[type="radio"] {
  width: 0;
  height: 0;
  margin-right: 13px;
}
/* line 32, ../sass/zeus.scss */
.form-inline input[type="radio"]:before {
  display: block;
  content: " ";
  position: relative;
  top: -8px;
  left: 0px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 2px solid black;
}
/* line 45, ../sass/zeus.scss */
.form-inline input[type="radio"]:checked:after {
  display: block;
  content: " ";
  position: relative;
  top: -17px;
  left: 5px;
  background-color: #ff0000;
  width: 0px;
  height: 0px;
  border: 2px solid black;
}
/* line 59, ../sass/zeus.scss */
.form-inline textarea {
  border: 2px solid #333333;
  border-radius: 0;
  box-shadow: none;
  overflow-y: scroll;
  width: 100%;
  max-width: 300px;
}
