/* Compass é foda */
@import "compass/layout";
@import "compass/css3";


/* Overrides das tosqueiras do Bootstrap */
input {
	width: auto;
}

/* Campos */
.form-inline {

	input {
		border: none;
		border-bottom: 1px solid #333333;
		border-radius: 0;
		outline: none;

		box-shadow: none;

		&:focus {
			box-shadow: none;
		}
	}

	input[type="radio"] {
		width: 0;
		height: 0;
		margin-right: 13px;

		&:before {
			display: block;
			content: " ";
			position: relative;
			top: -8px;
			left: 0px;

			background-color: #ffffff;
			width: 10px;
			height: 10px;
			border: 2px solid black;
		}

		&:checked:after {
			display: block;
			content: " ";
			position: relative;
			top: -17px;
			left: 5px;

			background-color: #ff0000;
			width: 0px;
			height: 0px;
			border: 2px solid black;
		}
	}

	textarea {
		border: 2px solid #333333;
		border-radius: 0;
		box-shadow: none;
		overflow-y: scroll;
		width: 100%;
		max-width: 300px;
	}

}